<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="flash-message(isSuccess, message)">
    <div th:if="${isSuccess} and ${message != null}" class="alert alert-success d-flex alert-dismissible sticky-top  fade hide" role="alert">
        <svg class="icon icon-xl">
            <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-bell"></use>
        </svg>
        <div th:text="${message}"></div>
        <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="not ${isSuccess} and ${message != null}" class="alert alert-danger d-flex alert-dismissible sticky-top  fade hide" role="alert">
        <svg class="icon icon-xl">
            <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-bell"></use>
        </svg>
        <div th:text="${message}"></div>
        <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
</body>
</html>