<header class="header header-sticky" style="height:120px; background-color: rgb(60 75 100);"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="container-fluid">
        <button class="header-toggler px-md-0 me-md-5" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
                <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
        </button>
        <p id="bnn-label" class="fs-4 text-light"><strong>BADAN NARKOTIKA NASIONAL<br>KOTA BANDUNG</strong></p>
        <div id="welcome-label" class="col button-right-align">
            <p class="fs-6 text-light">Selamat datang, &nbsp;<p class="fs-6 text-light" th:text="${session.userSession['fullName']}"></p>
        </div>
        <ul class="header-nav ms-auto">
        </ul>
        <ul class="header-nav ms-3">
            <li class="nav-item dropdown">
                <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><img class="avatar-img" src="/vendor/img/avatars/bnnlogo.png" alt="user@email.com"></div>
                </a>
                <div class="dropdown-menu dropdown-menu-end pt-0">
                    <div class="dropdown-header bg-light py-2">
                        <div class="fw-semibold">Settings</div>
                    </div>
                    <a sec:authorize="hasAnyRole('modify-patient.permission')" class="dropdown-item" href="/patient/modifyUserPatient">
                        <svg class="icon me-2">
                            <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-user"></use>
                        </svg> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-settings"></use>
                        </svg> Settings
                    </a>
                    <div th:switch="${#locale.language}">
                        <a th:case="'id'" class="dropdown-item" href="/dashboard?language=en">
                            <img src="/vendor/img/locale/en_US.png"/> <span class="align-middle">English</span>
                        </a>
                        <a th:case="'en'" class="dropdown-item" href="/dashboard?language=id">
                            <img src="/vendor/img/locale/in_ID.png"/> <span class="align-middle">Bahasa</span>
                        </a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <svg class="icon me-2">
                            <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                        </svg> Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>