<div class="sidebar sidebar-dark sidebar-fixed" tabindex="0" role="region" style="width: 260px; background-color: rgb(60 75 100); overflow: hidden;" id="sidebar"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="sidebar-brand d-none d-md-flex">
        <svg class="sidebar-brand-full position-absolute top-50 start-50 translate-middle">
            <img src="/vendor/brand/BNN-Logo-1.png" alt="" width="120px" height="120px">
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
            <use xlink:href="/vendor/brand/coreui.svg#signet"></use>
        </svg>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 0px;">
                            <li sec:authorize="hasAnyRole('dashboard.sidebar.permission')" class="nav-item">
                                <a class="nav-link" href="/dashboard">
                                    <svg class="nav-icon">
                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-home"></use>
                                    </svg>
                                    <div th:text="#{sidebar.0001}"></div>
                                </a>
                            </li>
                            <li sec:authorize="hasAnyRole('register-patient.sidebar.permission')" class="nav-group">
                                <a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-user-plus"></use>
                                    </svg>
                                    <div th:text="#{sidebar.0009}"></div>
                                </a>
                                <ul class="nav-group-items">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/patient"><span class="nav-icon">
                                        </span>
                                            <div th:text="#{sidebar.0010}"></div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('activity.sidebar.permission')" class="nav-group">
                                <a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-running"></use>
                                    </svg>
                                    <div th:text="#{sidebar.0002}"></div>
                                </a>
                                <ul class="nav-group-items">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/activity"><span class="nav-icon">
                                        </span>
                                            <div th:text="#{sidebar.0003}"></div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-group">
                                <a class="nav-link nav-group-toggle" href="#">
                                    <svg class="nav-icon">
                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-notes"></use>
                                    </svg>
                                    <div th:text="#{sidebar.0004}"></div>
                                </a>
                                <ul class="nav-group-items">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/material"><span class="nav-icon">
                                        </span>
                                            <div th:text="#{sidebar.0005}"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/task"><span class="nav-icon">
                                        </span>
                                            <div th:text="#{sidebar.0006}"></div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: 256px; height: 841px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar" style="height: 151px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </ul>
</div>