<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pagination(totalPages, totalItems)">
    <nav class="paging" aria-label="Page navigation" th:if="*{totalPages >= 1}">
        <ul class="pagination justify-content-end">
            <span style="margin-top: 7px; margin-right: 20px">Total Rows: [[*{totalItems}]]</span>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i : *{#numbers.sequence(1, totalPages)}" class="page-item content">
                <a class="page-link" th:href="@{'search?page=' + ${i}}">[[${i}]]</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>