<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <form th:action="@{/patient/modifyUserPatient}" th:object="${patientInputForm}" method="post">
        <div class="card-body">
            <div class="example">
                <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <input type="hidden" th:value="*{id}" th:field="${data.id}">
                                <label class="form-label fw-bolder" placeholder="Masukkan NIK" th:text="#{patient.page.0003}"></label>
                                <input class="form-control" type="text" th:value="*{nik}" th:field="${data.nik}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" placeholder="Masukan Nama Lengkap" th:text="#{patient.page.0001}"></label>
                                <input class="form-control" type="text" th:value="*{fullName}" th:field="${data.fullName}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" placeholder="Masukkan Username"  th:text="#{patient.page.0014}"></label>
                                <input class="form-control" type="text" th:value="*{userName}" th:field="${data.userName}" disabled>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder"  th:text="#{patient.page.0015}"></label>
                                <input class="form-control" type="text" placeholder="Jika Ingin Diganti" th:field="*{newUsername}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" placeholder="Masukkan Password" th:text="#{patient.page.0008}"></label>
                                <input class="form-control" type="password" th:field="${data.password}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" for="datePicker" th:text="#{patient.page.0016}"></label>
                                <div class="input-group date datepicker-input" id="datePicker" data-target-input="nearest">
                                    <input th:value="*{dateOfBirth}" th:field="${data.dateOfBirth}" type="text" class="form-control datetimepicker-input" data-target="#datePicker"/>
                                    <span class="input-group-text" data-target="#datePicker" data-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" placeholder="Masukkan Tempat Lahir" th:text="#{patient.page.0017}"></label>
                                <input class="form-control" type="text" th:value="*{placeOfBirth}" th:field="${data.placeOfBirth}">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" for="floatingTextarea2" th:text="#{patient.page.0011}"></label>
                                <div class="form-floating">
                                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px" th:value="*{address}" th:field="${data.address}"></textarea>
                                    <label for="floatingTextarea2"></label>
                                </div>
                            </div>
                            <br>
                            <div class="row" role="tabpanel">
                                <label class="form-label fw-bolder" th:text="#{patient.page.0018}"></label>
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1204">
                                    <div th:each="gender : ${genderOptions}" class="form-check form-check-inline">
                                        <input th:field="${data.gender}" th:value="${gender.code}" class="form-check-input" type="radio">
                                        <label class="form-check-label" th:text="${gender.name}" th:for="${#ids.prev('gender')}"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
<!--                                <button class="btn btn-primary" type="submit">Submit</button>-->
                                <button class="btn btn-outline-success" type="button"onclick="openModalForSubmitForm('common.page.0004', 'sidebar.0010', this)" th:text="#{patient.page.0019}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/patient/js/modify.js}"></script>
</th:block>
</body>
</html>