<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <form th:action="@{/patient/register}" th:object="${patientInputForm}" method="post">
        <div class="card-body">
            <div class="example">
                <div class="tab-content rounded-bottom">
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                        <form class="row g-3">
                            <div class="row">
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" th:text="#{patient.page.0003}"></label>
                                <input class="form-control" type="text" th:placeholder="#{patient.page.0005}" maxlength="16" th:field="*{nik}">
                                <p class="input-error" th:errors="*{nik}"></p>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" th:text="#{patient.page.0001}"></label>
                                <input class="form-control" type="text" th:placeholder="#{patient.page.0006}" th:field="*{fullName}">
                                <p class="input-error" th:errors="*{fullName}"></p>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" th:text="#{patient.page.0002}"></label>
                                <input class="form-control" type="text" th:placeholder="#{patient.page.0007}" th:field="*{userName}">
                                <p class="input-error" th:errors="*{userName}"></p>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder">Password</label>
                                <input class="form-control" type="password" th:placeholder="#{patient.page.0008}" th:field="*{password}">
                                <p class="input-error" th:errors="*{password}"></p>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" for="datePicker" th:text="#{patient.page.0016}"></label>
                                <div class="input-group date datepicker-input" id="datePicker" data-target-input="nearest">
                                    <input th:field="*{dateOfBirth}" type="text" class="form-control datetimepicker-input" data-target="#datePicker"/>
                                    <span class="input-group-text" data-target="#datePicker" data-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" th:text="#{common.page.0021}"></label>
                                <input class="form-control" type="text" th:placeholder="#{patient.page.0009}" th:field="*{placeOfBirth}">
                            </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bolder" for="floatingTextarea2" th:text="#{patient.page.0011}"></label>
                                <div class="form-floating">
                                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px" th:field="*{address}"></textarea>
                                    <label for="floatingTextarea2" th:placeholder="#{patient.page.0010}"></label>
                                    <p class="input-error" th:errors="*{address}"></p>
                                </div>
                            </div>
                            <br>
                            <div class="row" role="tabpanel">
                                <label class="form-label fw-bolder"th:text="#{common.page.0022}"></label>
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1204">
                                    <div th:each="gender : ${genderOptions}" class="form-check form-check-inline">
                                        <input th:field="*{gender}" th:value="${gender.code}" class="form-check-input" type="radio">
                                        <label class="form-check-label" th:text="${gender.name}" th:for="${#ids.prev('gender')}"></label>
                                        <p class="input-error" th:errors="*{gender}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" role="tabpanel">
                                <label class="form-label fw-bolder"th:text="#{patient.page.0012}"></label>
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1204">
                                    <div th:each="role : ${roleOptions}" class="form-check form-check-inline">
                                        <input th:field="*{roleId}" th:value="${role.id}" class="form-check-input" type="radio">
                                        <label class="form-check-label" th:text="${role.name}" th:for="${#ids.prev('roleId')}"></label>
                                        <p class="input-error" th:errors="*{roleId}"></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row" role="tabpanel">
                                    <label class="form-label fw-bolder"th:text="#{patient.page.0013}"></label>
                                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1204">
                                        <div th:each="counselor : ${counselorOptions}" class="form-check form-check-inline">
                                            <input th:field="*{counselorId}" th:value="${counselor.id}" class="form-check-input" type="radio" >
                                            <label class="form-check-label" th:text="${counselor.fullName}" th:for="${#ids.prev('counselorId')}"></label>
                                            <p class="input-error" th:errors="*{counselorId}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="/patient" class="btn btn-outline-danger"th:text="#{common.page.0006}"></a>
<!--                                <button class="btn btn-outline-success" type="submit"th:text="#{common.page.0002}"></button>-->
                                <button class="btn btn-outline-success" type="button"onclick="openModalForSubmitForm('common.page.0023', 'sidebar.0010', this)" th:text="#{common.page.0002}"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/patient/js/register.js}"></script>
</th:block>
</body>
</html>