<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="col-12">
        <div th:replace="~{/layout/flash-notification :: flash-message(${isSuccess}, ${message})}"></div>
        <div class="card mb-3">
            <div class="card-header btn-ghost-light"><strong th:text="#{patient.page.0004}"></strong></div>
            <div class="card-body">
                <div class="docs-example">
                    <div class="tab-content">
                        <div class="tab-pane p-3 mb-4 active preview" role="tabpanel">
                            <div class="table-responsive-xxl">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="table table-bordered border-secondary text-white" style="background-color:#0C1F60; text-align: center;">
                                        <th style="width:20%" scope="col" th:text="#{patient.page.0001}"></th>
                                        <th style="width:10%" scope="col" th:text="#{patient.page.0002}"></th>
                                        <th style="width:20%" scope="col" th:text="#{patient.page.0003}"></th>
                                        <th style="width:15%" scope="col" th:text="#{common.page.0020}"></th>
                                        <th style="width:20%" scope="col" th:text="#{common.page.0021}"></th>
                                        <th style="width:10%" scope="col" th:text="#{common.page.0022}"></th>
                                        <th style="width:5%"  scope="col" th:text="#{common.page.0011}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-black" th:each="val : ${data}">
                                        <td th:text="${val.fullName}"/>
                                        <td th:text="${val.userName}"/>
                                        <td th:text="${val.nik}"/>
                                        <td th:text="${val.dateOfBirth}"/>
                                        <td th:text="${val.placeOfBirth}"/>
                                        <td th:text="${val.gender}"/>
                                        <td class="td-center">
                                            <div>
                                                <form th:action="@{/patient/delete}" th:object="${patientInputForm}" method="post" class="form-horizontal">
                                                    <input type="hidden" th:value="${val.id}" th:name="id" th:id="id">
                                                    <a type="button" onclick="openModalForSubmitForm('common.page.0003', 'sidebar.0008', this)" class="btn btn-outline-danger">
                                                        <svg class="icon me-2">
                                                            <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-trash"></use>
                                                        </svg>
                                                        <div th:text="#{common.page.0003}"></div>
                                                    </a>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="/patient/register" class="btn btn-outline-success" th:text="#{common.page.0002}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>