<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="col-12">
        <div th:replace="~{/layout/flash-notification :: flash-message(${isSuccess}, ${message})}"></div>
        <div class="card mb-3">
            <div class="card-header btn-ghost-light"><strong th:text="#{task.page.0005}"></strong></div>
            <div class="card-body">
                <div class="docs-example">
                    <div class="tab-content">
                        <div class="tab-pane p-3 mb-4 active preview" role="tabpanel">
                            <div class="table-responsive-xxl">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="table table-bordered border-secondary text-white" style="background-color:#0C1F60; text-align: center;">
                                        <th style="width:30%" scope="col" th:text="#{task.page.0006}"></th>
                                        <th style="width:50%" scope="col" th:text="#{material.page.0002}"></th>
                                        <th style="width:20%" scope="col" th:text="#{task.page.0002}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="val : ${data}">
                                        <tr class="text-black" th:each="patient : ${val.taskPatientDtos}">
                                            <td th:text="${patient.fullName}"/>
                                            <td th:text="${patient.descriptionTask}"/>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr class="text-white" th:each="file : ${patient.taskPatientDetailDtos}">
                                                        <td>
                                                            <a type="button" target="_blank" th:href="@{'/file/view/'+${file.uploadId}}" class="btn btn-outline-primary">
                                                                <svg class="icon me-2">
                                                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-file"></use>
                                                                </svg>
                                                                <div th:text="#{common.page.0024}"></div>
                                                            </a>
                                                            <a type="button" target="_blank" th:href="@{'/file/download/'+${file.uploadId}}" class="btn btn-outline-secondary">
                                                                <svg class="icon me-2">
                                                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
                                                                </svg>
                                                                <div th:text="#{common.page.0025}"></div>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <a href="/task" class="btn btn-outline-danger" th:text="#{task.page.0008}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/task/js/view.js}"></script>
</th:block>
</body>
</html>