<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="col-12">
        <div th:replace="~{/layout/flash-notification :: flash-message(${isSuccess}, ${message})}"></div>
        <form th:action="@{/task}" th:object="${taskSearchForm}" method="post" class="form-horizontal">
            <div class="card mb-3">
                <div class="card-header btn-ghost-light"><strong th:text="#{activity.page.0001}"></strong></div>
                <div class="card-body">
                    <div class="example">
                        <div class="tab-content mt-0 mb-1">
                            <div class="tab-pane p-3 active preview" role="tabpanel">
                                <div class="col-6">
                                    <label class="form-label" for="datePicker" th:text="#{activity.page.0002}"></label>
                                    <div class="input-group date datepicker-input" id="datePicker" data-target-input="nearest">
                                        <input th:field="*{date}" type="text" class="form-control datetimepicker-input" data-target="#datePicker"/>
                                        <span class="input-group-text" data-target="#datePicker" data-toggle="datetimepicker">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-outline-warning" th:text="#{common.page.0001}"></button>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card mb-3">
            <div class="card-header btn-ghost-light"><strong th:text="#{task.page.0001}"></strong></div>
            <div class="card-body">
                <div class="docs-example">
                    <div class="tab-content">
                        <div class="tab-pane p-3 mb-4 active preview" role="tabpanel">
                            <div class="table-responsive-xxl">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="table table-bordered border-secondary text-white" style="background-color:#0C1F60; text-align: center;">
                                        <th style="width:30%" scope="col" th:text="#{material.page.0002}"></th>
                                        <th style="width:25%" scope="col" th:text="#{material.page.0003}"></th>
                                        <th sec:authorize="hasAnyRole('task.answer.table.permission')" style="width:25%" scope="col" th:text="#{task.page.0002}"></th>
                                        <th style="width:20%" scope="col" th:text="#{material.page.0004}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-black" th:each="val : ${data}">
                                        <td th:text="${val.descriptionTask}"/>
                                        <td class="td-center">
                                            <table class="table table-bordered child-table">
                                                <tr class="text-white" th:each="file : ${val.taskDetailDtos}">
                                                    <td>
                                                        <a type="button" target="_blank" th:href="@{'/file/view/'+${file.uploadId}}" class="btn btn-outline-primary">
                                                            <svg class="icon me-2">
                                                                <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-file"></use>
                                                            </svg>
                                                            <th:block th:text="#{common.page.0024}"></th:block>
                                                        </a>
                                                        <a type="button" target="_blank" th:href="@{'/file/download/'+${file.uploadId}}" class="btn btn-outline-secondary">
                                                            <svg class="icon me-2">
                                                                <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
                                                            </svg>
                                                            <th:block th:text="#{common.page.0025}"></th:block>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="td-center" sec:authorize="hasAnyRole('task.answer.table.permission')">
                                            <table class="table table-bordered child-table">
                                                <th:block th:each="patient : ${val.taskPatientDtos}">
                                                    <tr class="text-white" th:each="detail : ${patient.taskPatientDetailDtos}">
                                                        <td>
                                                            <a type="button" target="_blank" th:href="@{'/file/view/'+${detail.uploadId}}" class="btn btn-outline-primary">
                                                                <svg class="icon me-2">
                                                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-file"></use>
                                                                </svg>
                                                                <th:block th:text="#{common.page.0024}"></th:block>
                                                            </a>
                                                            <a type="button" target="_blank" th:href="@{'/file/download/'+${detail.uploadId}}" class="btn btn-outline-secondary">
                                                                <svg class="icon me-2">
                                                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
                                                                </svg>
                                                                <th:block th:text="#{common.page.0025}"></th:block>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </th:block>

                                            </table>
                                        </td>
                                        <td class="td-center">
                                            <form th:action="@{/task/delete}" th:object="${taskInputForm}" method="post" class="form-horizontal">
                                                <a sec:authorize="hasAnyRole('task.input.button.permission')" type="button" th:href="@{'task/modify-patient/' + ${val.id}}" class="btn btn-outline-warning">
                                                    <svg class="icon me-2">
                                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                                                    </svg>
                                                    <th:block th:text="#{task.page.0003}"></th:block>
                                                </a>

                                                <input type="hidden" th:value="${val.id}" th:name="id" th:id="id">
                                                <a sec:authorize="hasAnyRole('task.deleted.button.permission')" type="button" onclick="openModalForSubmitForm('common.page.0003', 'sidebar.0003', this)" class="btn btn-outline-danger">
                                                    <svg class="icon me-2">
                                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-trash"></use>
                                                    </svg>
                                                    <th:block th:text="#{common.page.0003}"></th:block>
                                                </a>
                                                <div>
                                                    <a sec:authorize="hasAnyRole('task.checked.button.permission')" type="button" th:href="@{'task/checked/' + ${val.id}}" class="btn btn-outline-warning">
                                                        <svg class="icon me-2" style="width: 15%">
                                                            <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                                                        </svg>
                                                        <th:block th:text="#{task.page.0004}"></th:block>
                                                    </a>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a sec:authorize="hasAnyRole('task.register.button.permission')" href="/task/registerTask" class="btn btn-outline-success" th:text="#{common.page.0002}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/task/js/view.js}"></script>
</th:block>
</body>
</html>