<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="row">
        <div class="col-12">
            <form enctype="multipart/form-data" th:action="@{/task/registerTask}" th:object="${taskInputForm}" method="post">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="example">
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel">
                                    <div class="col-6">
                                        <label class="form-label fw-bolder" for="floatingTextarea2" th:text="#{material.page.0005}"></label>
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"th:field="*{descriptionTask}"></textarea>
                                            <label for="floatingTextarea2" th:text="#{activity.page.0016}"></label>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label fw-bolder" th:text="#{task.page.0010}"></label>
                                            <input class="form-control" type="file" accept="image/*" th:field="*{files}">
                                        </div>
                                        <div th:each="counselor : ${counselorOptions}" class="form-check form-check-inline">
                                            <input th:field="*{counselorIds}" th:value="${counselor.id}" class="form-check-input" type="checkbox">
                                            <label class="form-check-label" th:text="${counselor.fullName}" th:for="${#ids.prev('counselorIds')}" ></label>
                                        </div>
                                    </div>
                                </div>
                                <a href="/task" class="btn btn-outline-danger" th:text="#{task.page.0008}"></a>
                                <button class="btn btn-outline-success" type="button"onclick="openModalForSubmitForm('common.page.0023', 'sidebar.0006', this)" th:text="#{task.page.0009}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/task/js/view.js}"></script>
</th:block>
</body>
</html>