<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <link rel="stylesheet" th:href="@{/app/activity/css/modify.css}">
<body>
<div layout:fragment="content" class="container-lg">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <form enctype="multipart/form-data" th:action="@{/activity/modifyActivity}" th:object="${activityInputForm}" method="post">
          <div class="card mb-4">
            <div class="card-body">
              <div class="example">
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel">
                    <div class="col-12">
                      <input type="hidden" th:value="*{id}" th:field="${data.id}">
                      <label class="form-label fw-bolder" for="startTimePicker" th:text="#{activity.page.0009}"></label>
                      <div class="input-group date timepicker-input" id="startTimePicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#startTimePicker" placeholder="Startime" th:value="*{startTime}" th:field="${data.startTime}"/>
                        <span class="input-group-text" data-target="#startTimePicker" data-toggle="datetimepicker">
                        <i class="fa fa-clock-o"></i>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel">
                    <div class="col-12">
                      <label class="form-label fw-bolder" for="endTimePicker" th:text="#{activity.page.0010}"></label>
                      <div class="input-group date timepicker-input" id="endTimePicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#endTimePicker" placeholder="Endtime" th:value="*{endTime}" th:field="${data.endTime}"/>
                        <span class="input-group-text" data-target="#endTimePicker" data-toggle="datetimepicker">
                        <i class="fa fa-clock-o"></i>
                      </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content rounded-bottom">
                  <div class="tab-pane p-3 active preview" role="tabpanel">
                    <div class="col-12">
                      <label class="form-label fw-bolder" for="floatingTextarea2" th:text="#{activity.page.0011}"></label>
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" th:value="*{descriptionActivity}" th:field="${data.descriptionActivity}"></textarea>
                        <label for="floatingTextarea2" th:text="#{activity.page.0016}"></label>
                      </div>
                    </div>
                    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-500">
                      <div class="col-12">
                        <table class="table table-borderless">
                          <thead>
                          <tr>
                            <th  class="form-label fw-bolder" style="width:100%" scope="col" th:text="#{task.page.0007}"></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="file, fileStatus : ${data.activityDetailDtos}">
                            <td>
                              <input type="hidden" th:value="${file.id}" th:name="'activityDetailDtos[' + ${fileStatus.index} + '].id'" th:id="'activityDetailDtos' + ${fileStatus.index} + '.id'">
                              <input type="hidden" th:value="${file.isDeleted}" th:name="'activityDetailDtos[' + ${fileStatus.index} + '].isDeleted'" th:id="'activityDetailDtos' + ${fileStatus.index} + '.isDeleted'">
                              <a th:text="${file.fileDto.filename}" target="_blank" th:href="@{'/file/view/'+${file.fileDto.fileId}}"></a>
                              <button th:id="'deleteUploaded' + ${fileStatus.index}" th:onclick="'javascript:deleteButtonModifyFile(\'' + ${fileStatus.index} + '\')'"class="btn btn-danger" type="button">
                                <svg class="icon me-2">
                                  <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-trash"></use>
                                </svg>
                                <th:block th:text="#{common.page.0003}"></th:block>
                              </button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <div id="bodyUploadFile" class="col-12">
                        <div class="row">
                          <div class="col-12">
                            <label class="form-label fw-bolder" th:text="#{activity.page.0012}"></label>
                          </div>
                          <div class="col-12">
                          </div>
                          <div class="col-12 button-right-align">
                            <button onclick="clickButtonAddFile()" class="btn btn-success" type="button">
                              <svg class="icon me-2">
                                <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-plus"></use>
                              </svg>
                              <th:block th:text="#{activity.page.0015}"></th:block>
                            </button>
                          </div>
                        </div>
                        <div id="rowUploadFile0" class="row row-upload-file">
                          <div id="colUploadFile0" class="col col-upload-file">
                            <input class="form-control" type="file" accept="image/*" th:field="*{files}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <a href="/activity" class="btn btn-outline-danger" th:text="#{activity.page.0013}"></a>
                    <button class="btn btn-outline-success" type="button"onclick="openModalForSubmitForm('common.page.0004', 'sidebar.0002', this)" th:text="#{activity.page.0014}"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<th:block layout:fragment="script">
  <script th:src="@{/app/activity/js/modify.js}"></script>
</th:block>
</body>
</html>