<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="col-12">
        <div th:replace="~{/layout/flash-notification :: flash-message(${isSuccess}, ${message})}"></div>
        <form th:action="@{/activity}" th:object="${activitySearchForm}" method="post" class="form-horizontal">
            <div class="card mb-3">
                <div class="card-header btn-ghost-light"><strong th:text="#{activity.page.0001}"></strong></div>
                <div class="card-body">
                    <div class="example">
                        <div class="tab-content mt-0 mb-1">
                            <div class="tab-pane p-3 active preview" role="tabpanel">
                                <div class="input-group mb-3">
                                    <div class="col-6">
                                        <label class="form-label" for="datePicker" th:text="#{activity.page.0002}"></label>
                                        <div class="input-group date datepicker-input" id="datePicker" data-target-input="nearest">
                                            <input th:field="*{date}" type="text" class="form-control datetimepicker-input" data-target="#datePicker"/>
                                            <span class="input-group-text" data-target="#datePicker" data-toggle="datetimepicker">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-outline-warning"th:text="#{common.page.0001}"></button>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card mb-3">
            <div class="card-header btn-ghost-light"><strong th:text="#{activity.page.0003}"></strong></div>
            <div class="card-body">
                <div class="docs-example">
                    <div class="tab-content">
                        <div class="tab-pane p-3 mb-4 active preview" role="tabpanel">
                            <div class="table-responsive-xxl">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr class="table table-bordered border-secondary text-white" style="background-color:#0C1F60; text-align: center;">
                                        <th style="width:10%" scope="col"th:text="#{activity.page.0004}"></th>
                                        <th style="width:10%" scope="col"th:text="#{activity.page.0005}"></th>
                                        <th style="width:10%" scope="col"th:text="#{activity.page.0006}"></th>
                                        <th style="width:20%" scope="col"th:text="#{activity.page.0007}"></th>
                                        <th style="width:25%" scope="col"th:text="#{activity.page.0008}"></th>
                                        <th style="width:25%" scope="col"th:text="#{common.page.0011}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-black" th:each="val : ${data}">
                                        <td th:text="${val.fullName}"/>
                                        <td th:text="${val.startTime}"/>
                                        <td th:text="${val.endTime}"/>
                                        <td th:text="${val.descriptionActivity}"/>
                                        <td class="td-center">
                                            <div sec:authorize="hasAnyRole('activity.view.button.permission')">
                                                <table class="table table-bordered child-table">
                                                    <tr class="text-white" th:each="file : ${val.activityDetailDtos}">
                                                        <td>
                                                            <a type="button " target="_blank" th:href="@{'/file/view/'+${file.uploadId}}" class="btn btn-outline-primary">
                                                                <svg class="icon me-2">
                                                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-image"></use>
                                                                </svg>
                                                                <th:block th:text="#{common.page.0024}"></th:block>
                                                            </a>
                                                            <a type="button" target="_blank" th:href="@{'/file/download/'+${file.uploadId}}" class="btn btn-outline-secondary">
                                                                <svg class="icon me-2">
                                                                    <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
                                                                </svg>
                                                                <th:block th:text="#{common.page.0025}"></th:block>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                        <td class="td-center">
                                            <div sec:authorize="hasAnyRole('activity.input.button.permission')">
                                                <form th:action="@{/activity/delete}" th:object="${activityInputForm}" method="post" class="form-horizontal">
                                                    <table class="table table-bordered child-table">
                                                        <tr  class="text-white">
                                                            <td>
                                                                <a type="button" th:href="@{'activity/modifyActivity/' + ${val.id}}" class="btn btn-outline-warning">
                                                                    <svg class="icon me-2">
                                                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                                                                    </svg>
                                                                    <th:block th:text="#{common.page.0004}"></th:block>
                                                                </a>
                                                                <input type="hidden" th:value="${val.id}" th:name="id" th:id="id">
                                                                <a type="button" onclick="openModalForSubmitForm('common.page.0003', 'sidebar.0002', this)" class="btn btn-outline-danger">
                                                                    <svg class="icon me-2">
                                                                        <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-trash"></use>
                                                                    </svg>
                                                                    <th:block th:text="#{common.page.0003}"></th:block>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a sec:authorize="hasAnyRole('activity.input.button.permission')" href="/activity/register" class="btn btn-outline-success" th:text="#{common.page.0002}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/activity/js/view.js}"></script>
</th:block>
</body>
</html>