<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout-login}">

<body>
<div layout:fragment="content" class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <form th:action="@{/signup}" th:object="${signupForm}" method="POST">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4 mx-4">
                    <div class="card-body p-4">
                        <h1>Register</h1>
                        <p class="text-medium-emphasis">Create your account</p>
                        <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                    </svg></span>
                            <input class="form-control" type="text" placeholder="Fullname" th:field="*{fullName}">
                            <p class="input-error" th:errors="*{fullName}"></p>
                        </div>
                        <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                    </svg></span>
                            <input class="form-control" type="text"   placeholder="Username" th:field="*{username}">
                            <p class="input-error" th:errors="*{username}"></p>
                        </div>
                        <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg></span>
                            <input class="form-control" type="password" placeholder="Password" th:field="*{password}">
                            <p class="input-error" th:errors="*{password}"></p>
                        </div>
                        <div class="input-group mb-3">
                             <div class="form-check form-check-inline" th:each="t : ${data}">
                                <input type="radio" th:field="*{roleId}" th:value="${t.id}" />
                                 <label th:text="${t.name}" th:for="${#ids.prev('roleId')}"></label>
                                 <p class="input-error" th:errors="*{roleId}"></p>
                             </div>
                        </div>
                      <use xlink:href="/vendor/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg></span>

                        <button class="btn btn-block btn-success" type="submit">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>