<!DOCTYPE html>
<!--/*@thymesVar id="languageCode" type=""*/-->
<!--/*@thymesVar id="languageCode" type=""*/-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      th:with="lang=${session.languageCode}" th:lang="${lang}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="BNN Rehabilitation">
    <title>BNN Rehabilitation</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/vendor/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/vendor/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/vendor/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/vendor/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/vendor/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/vendor/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/vendor/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/vendor/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/vendor/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/vendor/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/vendor/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/vendor/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/vendor/favicon/favicon-16x16.png">
    <link rel="manifest" href="/vendor/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/vendor/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendors styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/tempusdominus-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/app/common/css/simplebar.css">
    <!-- Main styles for this application-->
    <link rel="stylesheet" href="/app/common/css/style.css">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
    <link rel="stylesheet" href="/app/common/css/examples.css">
    <link rel="stylesheet" href="/app/common/css/common.css">
    <link href="/vendor/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

</head>

<body>
<!--LEFT SIDEBAR-->
<div th:replace="/layout/left-sidebar"></div>
<!-- Layout wrapper -->
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <!-- HEADER-->
    <div th:replace="/layout/header"></div>
    <div class="body flex-grow-1 px-3  body-background">
        <!-- CONTENT-->
        <div layout:fragment="content"></div>
        <div class="modal fade" id="backdropModal" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{common.message.0007}"></h5>
                        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="body-content"></p>
                    </div>
                    <div class="modal-footer">
                        <button id="no-confirmation" type="button" class="btn btn-outline-secondary" data-coreui-dismiss="modal">No</button>
                        <button id="yes-confirmation" type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--FOOTER-->
<!--        <div th:replace="/layout/footer"></div>-->
    </div>
</div>
<!-- CoreUI and necessary plugins-->

<script src="/vendor/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="/vendor/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="/vendor/chart.js/js/chart.min.js"></script>
<script src="/vendor/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/vendor/@coreui/utils/js/coreui-utils.js"></script>
<!--<script src="vendor/jquery/jquery.js"></script>-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/momentjs/js/moment.min.js"></script>
<script src="/vendor/tempusdominus-bootstrap/js/bootstrap.min.js"></script>
<script src="/app/common/js/common.js"></script>
<script src="/app/common/js/modal-handler.js"></script>
<script src="/app/common/js/popup-notification.js"></script>
<script th:src="@{/msgSource.js}"></script>

<th:block layout:fragment="script"></th:block>
</body>
</html>
