<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<body>
<div layout:fragment="content" class="container-lg">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <form enctype="multipart/form-data" th:action="@{/activity/modifyActivity}" th:object="${activityInputForm}" method="post">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="example">
                                <div class="tab-content rounded-bottom">
                                    <div class="tab-pane p-3 active preview" role="tabpanel">
                                        <div class="col-12">
                                            <input type="hidden" th:value="*{id}" th:field="${data.id}">
                                            <label class="form-label fw-bolder" for="startTimePicker" th:text="#{material.page.0007}"></label>
                                            <div class="input-group date timepicker-input" id="startTimePicker" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#startTimePicker" placeholder="Startime" th:value="*{startTime}" th:field="${data.startTime}"/>
                                                <span class="input-group-text" data-target="#startTimePicker" data-toggle="datetimepicker">
                                                    <i class="fa fa-clock-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content rounded-bottom">
                                    <div class="tab-pane p-3 active preview" role="tabpanel">
                                        <div class="col-12">
                                            <div class="input-group date timepicker-input" id="endTimePicker" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#endTimePicker" placeholder="Endtime" th:value="*{endTime}" th:field="${data.endTime}"/>
                                                <span class="input-group-text" data-target="#endTimePicker" data-toggle="datetimepicker">
                                                    <i class="fa fa-clock-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content rounded-bottom">
                                    <div class="tab-pane p-3 active preview" role="tabpanel">
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" th:value="*{descriptionActivity}" th:field="${data.descriptionActivity}"></textarea>
                                                <label for="floatingTextarea2" th:text="#{activity.page.0016}"></label>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label fw-bolder">Multiple files input example</label>
                                                <input class="form-control" type="file" multiple accept="image/*" th:field="*{files}">
                                                <tr class="text-white" th:each="file : ${data.activityDetailDtos}">
                                                    <td>
                                                        <a th:text="${file.fileDto.filename}" target="_blank" th:href="@{'/file/view/'+${file.fileDto.fileId}}"></a>
                                                    </td>
                                                </tr>
                                            </div>
                                            <button class="btn btn-light" type="button"onclick="openModalForSubmitForm('common.page.0004', 'sidebar.0002', this)" th:text="#{material.page.0008}"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/app/activity/js/modify.js}"></script>
</th:block>
</body>
</html>