.button-right-align {
    display:flex;
    justify-content: flex-end;
}

.btn.btn-danger.back-button {
    margin-left: 10px;
}

.input-error {
    color: #FF3510;
}

.alert.alert-dismissible {
    width: 20% !important;
    position: fixed;
    top: 0px;
    right: 1px;
    width: 100%;
    z-index: 9999;
}

.header.header-no-border{
    --cui-header-border: 0px solid var(--cui-header-border-color) !important;
}

.body.body-background{
    background-image: url('../../../vendor/img/Bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

.td-center{
    vertical-align: middle !important;
    text-align: center !important;
}

.child-table{
    margin-bottom: 0 !important;
}